@font-face {
    font-family: 'geogrid9regular';
    src: url('geogrid9-2g5l-webfont.woff2') format('woff2'),
         url('geogrid9-2g5l-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}